@use "../assets/theme.css";

@import "_variables";

.test-lib {
    .border {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: $sm;
        background: lavender;
    }
}
